h1{
    font-family: Lucida Sans;
    font-size : 60px ;
    font-weight: 400 ;
    text-align : center ;
}

h2{


    font-family: Lucida Sans;
    font-size : 50px ;
    font-weight: 300 ;
    text-align : center ;
    }


h3{

    font-family: Lucida Sans;
    font-size : 40px ;
    font-weight: 200 ;
    text-align : center ;
    }

 body{
        background-color:gray ;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 20px;
    }


img {
    width: 400px;
    height: 200px;
}
